.orderContainer {
    height: calc(100vh - 145px);
    width: 100%;
    /* background-color: #f0f2f5; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderWrapper {
    width: 35%;
    height: 60%;
    display: flex;
    margin-top: -123px;
}

.orderRight {
    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
}

.orderBox1 {
    border-radius: 5%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 27px -10px rgba(0,0,0,0.45);
}

.orderBox1:hover {
    
    box-shadow: 0px 0px 27px -10px rgba(96, 67, 201, 0.45);
    -webkit-box-shadow: 0px 0px 27px -10px rgba(67, 180, 218, 0.45);
    -moz-box-shadow: 0px 0px 27px -10px rgba(214, 34, 34, 0.45);
}
.batch{
    font-family: 'Baloo Bhai';
    font-weight: 800;
    font-size: 30px;
}

.timeHeading{
    font-family: 'Baloo Bhai';
    font-weight: 800;
    font-size: 50px;
    color: rgb(153, 203, 203);
}

.priceHeading{
    font-family: 'Baloo Bhai';
    font-weight: 800;
    font-size: 30px;
    color: rgb(153, 203, 203);
}
@media only screen and (max-width: 768px) {
    .orderWrapper {
        width: 90%;
    } 
}